<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Slides: Feature Toggles</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Mono|Fahkwang|Material+Icons|Source+Sans+Pro">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
