<template lang="pug">
v-app.demo
  v-content
    v-container(fluid, fill-height)
      v-layout(align-center, justify-center)
        v-flex(xs12, sm8, xl4)
          v-card.elevation-12
            v-toolbar(dark, color='primary')
              v-toolbar-side-icon
              v-toolbar-title Admin Panel
              v-spacer
              v-btn(icon): v-icon search
              v-btn(icon): v-icon apps
              v-btn(icon): v-icon refresh

              v-menu(offset-y, open-on-hover, dark)
                v-btn(slot='activator', color='secondary', dark) UAT
                v-list
                  v-list-tile(): v-list-tile-title Local
                  v-list-tile(): v-list-tile-title UAT
                  v-list-tile(): v-list-tile-title Stage
                  v-list-tile(): v-list-tile-title Production
            v-card-text
              v-layout(justify-center)
                v-flex(xs8)
                    v-list(two-line, subheader)
                      v-list-tile(avatar)

                        v-list-tile-avatar
                          v-icon.mdi.grey.lighten-1.white--text mdi-cube-outline
                        v-list-tile-content
                          v-list-tile-title Feature 1
                          v-list-tile-sub-title Description
                        v-list-tile-action
                          v-switch
                      v-list-tile(avatar)

                        v-list-tile-avatar
                          v-icon.mdi.grey.lighten-1.white--text mdi-hexagon-multiple
                        v-list-tile-content
                          v-list-tile-title Feature 2
                          v-list-tile-sub-title Description
                        v-list-tile-action
                          v-switch
                      
                      v-list-group
                        v-list-tile(slot='activator')
                          v-list-tile-avatar
                            v-icon.mdi.grey.lighten-1.white--text mdi-toggle-switch
                          v-list-tile-content
                            v-list-tile-title Feature 3
                            v-list-tile-sub-title Enabled 5 days ago
                        v-list(two-line, subheader)
                          v-list-tile(avatar)
                            v-list-tile-avatar
                            v-list-tile-content
                              v-list-tile-title Feature 3.1
                              v-list-tile-sub-title Description
                            v-list-tile-action
                              v-switch
                          v-list-tile
                            v-list-tile-avatar
                            v-list-tile-content
                              v-text-field(label='Fraction of users', prepend-icon='mdi-percent')
                          v-list-tile
                            v-list-tile-avatar
                            v-list-tile-content
                              v-menu(
                                v-model="menu1"
                                :nudge-right="40"
                                lazy
                                transition="scale-transition"
                                offset-y
                                full-width
                                max-width="290px"
                                min-width="290px"
                              )
                                v-text-field(slot='activator', v-model='f3_date', label='Enable date', prepend-icon='mdi-calendar')
                                v-date-picker(no-title, v-model='f3_date', @input="menu1 = false")
            v-card-actions
              v-spacer
              v-btn(color='primary') Save
</template>

<script>
export default {
  data() {
    return {
      f3_date: undefined,
      menu1: false,
    }
  }
}
</script>


<style lang="scss">
.v-avatar .mdi:before {
  transform: translateX(1px);
}

.v-list__group .v-list__group__header__append-icon {
  padding: 0 40px 16px;
}

.v-picker {
  font-size: 1.4rem;
}
</style>
