<template lang="pug">
.eg-slideshow
  slide.center(enter='zoomIn' leave='zoomOut')
    v-container
      v-layout(justify-center)
        h1.caps Feature Toggles

  slide(enter='zoomIn' leave='zoomOut' :steps='5')
    br
    br
    br
    h2 Value proposition
    br
    p.slide-content
      ul
        li(v-if='step > 1') Instant rollback
        li(v-if='step > 2') Reduced risk of BigBang features
        li(v-if='step > 3') Possible A/B tests (experiments)
        li(v-if='step > 4')
          | Dynamic behaviors
          br
          small (e.g. discounts for Black Friday)

  slide(enter='zoomIn' leave='zoomOut')
    v-container
      v-layout.snippet
        Snippet1

  slide(enter='zoomIn' leave='zoomOut' :steps='5')
    br
    br
    br
    h2 Configuration
    br
    p.slide-content
      ul
        li(v-if='step > 1') State - ON / OFF
        li(v-if='step > 2') Scope - % of traffic / users / roles
        li(v-if='step > 3') Time - From : To
        li(v-if='step > 4')
          | Source
          br
          small (*.config, database, your *Provider implementation)

  slide.center(enter='zoomIn' leave='zoomOut')
    v-container
      v-layout(justify-center)
        img(src='./assets/usage.png')

  slide.center(enter='zoomIn' leave='zoomOut')
    v-container
      v-layout(justify-center)
        img(src='./assets/branches.png')

  slide.center(enter='zoomIn' leave='zoomOut')
    v-container
      v-layout(justify-center)
        img(src='./assets/env.png')

  slide.center(enter='zoomIn' leave='zoomOut')
    v-container
      v-layout(justify-center)
        img(src='./assets/toggle1.png')

  slide.center(enter='zoomIn' leave='zoomOut')
    v-container
      v-layout(justify-center)
        img(src='./assets/toggle2.png')

  slide.center(enter='zoomIn' leave='zoomOut')
    v-container
      v-layout(justify-center)
        img(src='./assets/toggle_rollout.png')

  slide.center(enter='zoomIn' leave='zoomOut')
    v-container
      v-layout(justify-center)
        img(src='./assets/launchdarkly_abtesting.png')

  slide.center(enter='zoomIn' leave='zoomOut')
    v-container
      v-layout(justify-center)
        img(src='./assets/toggle_admin_panel.png')

  slide(enter='zoomIn' leave='zoomOut')
    AdminPanel

  slide.center(enter='zoomIn' leave='zoomOut')
    v-container
      v-layout(justify-center)
        img(src='./assets/types.png')

  slide.center(enter='zoomIn' leave='zoomOut')
    v-container
      v-layout(justify-center)
        img(src='./assets/blue-green-lb.jpg')

  slide(enter='zoomIn' leave='zoomOut' :steps='4')
    br
    br
    br
    h2 Cost
    br
    p.slide-content
      ul
        li(v-if='step > 1') More code branches
        li(v-if='step > 2') Harder to test
        li(v-if='step > 3') Might require improved visibility

  slide(enter='zoomIn' leave='zoomOut' :steps='4')
    br
    br
    br
    h2 Tips
    br
    p.slide-content
      ul
        li(v-if='step > 1') Cleanup early
        li(v-if='step > 2') Choose library wisely
        li(v-if='step > 3') Invest in Analytics

</template>

<script>
import Snippet1 from './components/Snippet1'
import AdminPanel from './components/AdminPanel'
import eagle from "eagle.js";

export default {
  name: 'App',
  mixins: [eagle.slideshow],
  infos: {
    title: "Feature Toggles",
    description: "Feature Toggles - Introduction",
    path: "feature-toggles"
  },
  components: {
    Snippet1,
    AdminPanel
  },
  data () {
    return {
      switch1: true
    }
  }
}
</script>

<style lang="scss">
.eg-slide-content > .container > .layout {
  height: calc(100vh - 100px);
  align-items: center;
}

html {
  font-family: Fahkwang, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.caps { text-transform: uppercase; }

.demo {
  font-family: 'Source Sans Pro',Arial,sans-serif
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: 'Hasklig', 'PT Mono', 'Reno Mono', 'Ubuntu Mono', Consolas, monospace;
  font-weight: 600;
}

code {
  box-shadow: none!important;
}

.slide-content {
  width: 40ch;
  margin: 5% auto;
  font-size: 28px;
}

.snippet {
  font-size: 24px;
}
</style>
